// scss-lint:disable ColorVariable

@import "functions";

// default color scheme
$bg_color: if($variant == "dark",          #4f5666,          #4f5666);
$fg_color: if($variant == "dark",          #b3cdd2,          #b3cdd2);
$base_color: if($variant == "dark",        #4f5666,        #4f5666);
$text_color: if($variant == "dark",        #b3cdd2,        #b3cdd2);
$selected_bg_color:      #657f86;
$selected_fg_color:      #D8DEE9;
$tooltip_bg_color:      #657f86;
$tooltip_fg_color:      #D8DEE9;

// dark colors
$dark_bg_color: if($variant == 'dark',          #4f5666,          #4f5666);
$dark_fg_color: if($variant == 'dark',          #b3cdd2,          #b3cdd2);

// shadows
$dark_shadow: #3B4252;
$light_shadow: #D8DEE9;

// white and black
$black: #3B4252;
$white: #D8DEE9;

// misc colors used by gtk+
$info_fg_color: if($variant == 'dark',     #b3cdd2,     #b3cdd2);
$info_bg_color: if($variant == 'dark',     #4f5666,     #4f5666);
$warning_fg_color: if($variant == 'dark',  #D8DEE9,  #D8DEE9);
$warning_bg_color: if($variant == 'dark',  #ebcb8b,  #ebcb8b);
$question_fg_color: if($variant == 'dark', #ebcb8b, #ebcb8b);
$question_bg_color: if($variant == 'dark', #4f5666, #4f5666);
$error_fg_color: if($variant == 'dark',    #3B4252,    #3B4252);
$error_bg_color: if($variant == 'dark',    #bf616a,    #bf616a);
$link_color: if($variant == 'dark',        #b48ead,        #b48ead);
$success_color: if($variant == 'dark',     #a3be8c,     #a3be8c);
$warning_color: if($variant == 'dark',     #ebcb8b,     #ebcb8b);
$error_color: if($variant == 'dark',       #bf616a,       #bf616a);

$toolbar_bg_color: $bg_color;
$toolbar_fg_color: $fg_color;

$titlebar_bg_color: $dark_bg_color;
$titlebar_fg_color: $dark_fg_color;

$menu_bg_color: $dark_bg_color;
$menu_fg_color: $dark_fg_color;

$menubar_bg_color: $dark_bg_color;
$menubar_fg_color: $dark_fg_color;

$panel_bg_color: $dark_bg_color;
$panel_fg_color: $dark_fg_color;

$osd_base: $dark_bg_color;
$osd_fg: $dark_fg_color;
$osd_bg: alpha($osd_base, 0.8);

$lightdm_bg_color: $dark_bg_color;
$lightdm_fg_color: $dark_fg_color;

$wm_bg: $titlebar_bg_color;
$wm_border_focused: transparent;
$wm_border_unfocused: transparent;
$wm_title_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_title_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_icons_focused_prelight: $selected_bg_color;
$wm_icons_focused_pressed: shade($selected_bg_color, .8);
$wm_icons_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_unfocused_prelight: $selected_bg_color;
$wm_icons_unfocused_pressed: shade($selected_bg_color, .8);

// widget styles
$roundness: 2px;
$spacing: 5px;
$gradient: 0;
$contrast: .8;
